<div class="jumbotron">
    <h1	class="text-center">
        Bem-vindo ao Contato OH
    </h1>
</div>

<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<a ng-href="#!/contato" class="btn btn-primary">Novo Contato</a>

<input type="search" ng-model="filtro" placeholder="parte do nome" ng-show="contatos.length">
<p ng-show="contatos.length">
    Contatos cadastrados: {{contatos.length}}
</p>

<div class="table-responsive" ng-show="contatos.length">
    <table class="table	table-hover">
        <tr>
            <th>Nome</th>
            <th>E-Mail</th>
            <th>Emergência</th>
            <th	class="text-center">Ação</th>
        </tr>
        <tr	ng-repeat="contato in contatos | filter: filtro">
            <td>
                <a ng-href="#!/contato/{{contato._id}}">{{contato.nome}}</a>
            </td>
            <td>{{contato.email}}</td>
            <td>{{contato.emergencia.nome}}</td>
            <td	class="text-center">
                <button	class="btn btn-warning" ng-click="remove(contato)">
                    Remover
                </button>
            </td>
        </tr>
    </table>
</div>
<p class="text-info" ng-hide="contatos.length">
    <br>Não	há contatos	cadastrados
</p>