<!doctype html>
<html ng-app="contatooh">

    <head>
        <meta charset="UTF-8">
        <title>Contato OH</title>

        <!-- build:css css/index.min.css -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
        <!-- endbuild -->
    </head>

    <body class="container">

        <%if(usuarioLogado.length > 0) {%>

            <div class="text-right">
                <p>
                    Logado como: <span id="usuario-logado"><%=usuarioLogado%><span>
                    <a href="/logout">Logout</a>
                </p>
            </div>
        <%}%>

        <div ng-view></div>
        <!-- build:js js/index.min.js -->
        <script	src="vendor/angular/angular.js"></script>
        <script	src="vendor/angular-route/angular-route.js"></script>
        <script	src="vendor/angular-resource/angular-resource.js"></script>
        <script	src="js/main.js"></script>
        <script	src="js/controllers/ContatosController.js"></script>
        <script	src="js/controllers/ContatoController.js"></script>
        <script	src="js/services/ContatoService.js"></script>
        <script	src="js/services/InterceptorService.js"></script>
        <!-- endbuild -->

    </body>

</html>